<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://laaz200.documents.azure.com:443/" />
        <add key="accountKey" value="gxjAphbndwu6gQeCFHANKhNUiMvMRN0vTSVxH97fhkhkHKQrWjELXCkEO76Q1JZebKbYVqFF7eX5Tm47o5f1Xg==" />
      </appSettings>
</configuration>
